body {
	background-color: #f2f2f2;
	display: flex;
	flex-direction: column;
	font-family: "Ubuntu", sans-serif;
	font-style: normal;
	font-weight: 400;
	gap: 3em;
	justify-content: center;
	margin: 0 auto;
	width: 55%;
}

.top-bar-container {
	align-items: flex-end;
	display: flex;
	flex-direction: row;
	font-size: 2em;
	justify-content: space-between;
	margin-top: 3em;
}

.top-bar-container #name a {
	font-weight: 700;
}

.nav-container {
	display: flex;
	flex-direction: row;
	font-size: .6em;
	gap: 3%;
	justify-content: flex-end;
	white-space: nowrap;
}

.nav-item-selected {
	color: #B76010;
	font-weight: 700;
}

.summary-container {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	gap: 1em;
	justify-content: space-between;
}

.summary-container img {
	width: 55%;
}

.summary-container h1 {
	margin-top: 0;
}

.project-experience-item {
	display: flex;
	flex-direction: row;
	gap: 5%;
}

.project-experience-item img {
	align-items: flex-start;
	max-width: 30%;
	object-fit: contain;
	object-position: top;
}

.project-experience-item h2 {
	margin-top: 0;
}

.learned-list {
	margin: 0;
}

.languages-frameworks-tools {
	font-size: .85em;
}

.image-with-text {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	gap: 5%;
}

.image-with-text figure {
	margin: 0;
}

.image-with-text img {
	width: 100%;
}

#polyglotPersistenceDiagrams {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.polyglot-persistence-diagram {
	width: 30%;
}

#csse375Diagrams {
	display: flex;
	flex-direction: column;
	gap: 1.6em;
}

.before-after {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.before-after pre {
	overflow-x: scroll;
}

.before-after-child {
	width: 45%;
}

#contactInfo {
	display: flex;
	flex-direction: row;
	font-size: .8em;
	justify-content: space-around;
	margin-bottom: 8em;
	margin-top: 2em;
	text-align: center;
}

.contact-info-item {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: .5em;
}

.icon {
	height: 1.6em;
}

h1 {
	font-size: 1.6em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.2em;
}

a {
	color: #B76010;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

figure {
	text-align: center;
}

.no-margin {
	margin: 0;
}

.no-top-margin {
	margin-top: 0;
}

.width-50 {
	width: 50%;
}

.width-100 {
	width: 100%;
}

.center {
	text-align: center;
}

.code-block {
	border-style: solid;
	border-width: 1px;
	padding: 0 1em;
	tab-size: 4;
}

.code-with-text {
	display: flex;
	flex-direction: row;
	gap: 5%;
}

.link-no-color {
	color: black;
}

.link-no-color:hover {
	color: #B76010;
}

