body {
	background-color: #f2f2f2;
	display: flex;
	flex-direction: column;
	font-family: "Ubuntu", sans-serif;
	font-style: normal;
	font-weight: 400;
	gap: 3em;
	justify-content: center;
	margin: 0 auto;
	width: 55%;
}

.top-bar-container {
	align-items: flex-end;
	display: flex;
	flex-direction: row;
	font-size: 2em;
	justify-content: space-between;
	margin-top: 3em;
}

.top-bar-container #name a {
	font-weight: 700;
}

.nav-container {
	display: flex;
	flex-direction: row;
	font-size: .6em;
	gap: 3%;
	justify-content: flex-end;
	white-space: nowrap;
}

.nav-item-selected {
	color: #B76010;
	font-weight: 700;
}

.summary-container {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	gap: 1em;
	justify-content: space-between;
}

.summary-container img {
	width: 55%;
}

.summary-container h1 {
	margin-top: 0;
}

.project-experience-item {
	display: flex;
	flex-direction: row;
	gap: 5%;
}

.project-experience-item img {
	width: 30%;
}

.project-experience-item h2 {
	margin-top: 0;
}

#contactInfo {
	display: flex;
	flex-direction: row;
	font-size: .8em;
	justify-content: space-around;
	margin-bottom: 8em;
	margin-top: 2em;
	text-align: center;
}

.contact-info-item {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: .5em;
}

.icon {
	height: 1.6em;
}

 h1 {
	font-size: 1.6em;
 }

a {
	color: #B76010;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.link-no-color {
	color: black;
}

.link-no-color:hover {
	color: #B76010;
}

