body {
	background-color: #f2f2f2;
	display: flex;
	flex-direction: column;
	font-family: "Ubuntu", sans-serif;
	font-style: normal;
	font-weight: 400;
	gap: 3em;
	justify-content: center;
	margin: 0 auto;
	width: 55%;
}

.top-bar-container {
	align-items: flex-end;
	display: flex;
	flex-direction: row;
	font-size: 2em;
	justify-content: space-between;
	margin-top: 3em;
}

.top-bar-container #name {
	font-weight: 700;
}

.nav-container {
	display: flex;
	flex-direction: row;
	font-size: .6em;
	gap: 3%;
	justify-content: flex-end;
}

.nav-item:hover {
	color: #B76010;
	text-decoration: underline;
}

.summary-container {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	gap: 1em;
	justify-content: space-between;
}

.summary-container img {
	width: 55%;
}

.summary-container h1 {
	font-size: 1.6em;
	margin-top: 0;
}

a {
	color: #B76010;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.contact-info {
	font-size: .8em;
	text-align: center;
}

.contact-info a {
	color: black;
}

.contact-info:hover a {
	color: #B76010;
}

